django
django-environ
django_rest_framework
paste
waitress
whitenoise

# Testing Requirements
factory-boy
pytest
pytest-django

# Other Requirements
black
flake8
mypy
isort
pylint
pylint-django
types-waitress